@model BloodDonationApplication.Models.KomponenteKrvi

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>KomponenteKrvi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Eritrociti)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Eritrociti)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Trombociti)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Trombociti)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Leukociti)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Leukociti)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KrvnaPlazma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KrvnaPlazma)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.KomponenteKrviId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
