@model BloodDonationApplication.Models.Donor

@{
    ViewData["Title"] = "Brisanje donora";
}

<h1 style="color:#cc0000;">Brisanje donora</h1>

<h3>Jeste li sigurni da želite obrisati donora?</h3>
<div>
    <h4 style="color:#cc0000;">Donor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prezime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Jmbg)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Jmbg)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BrojMobilnogTelefona)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BrojMobilnogTelefona)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Grad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Grad)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="DonorId" />
        <input type="submit" value="Obriši" class="btn btn-danger" /> |
        <a asp-action="Index">Pregled svih donora</a>
    </form>
</div>

<br />

<p>
    <a asp-action="Index" asp-controller="Zavod">Nazad na početnu</a>
</p>

<br />

<p>
    <a asp-action="Index" asp-controller="Home">Odjava</a>
</p>