@model BloodDonationApplication.Models.Donor

@{
    ViewData["Title"] = "Detalji";
}

<h1>Detalji</h1>

<div>
    <h4>Donor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prezime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Jmbg)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Jmbg)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BrojMobilnogTelefona)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BrojMobilnogTelefona)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Grad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Grad)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.DonorId">Uredi</a> |
    <a asp-action="Index">Pregled svih donora</a>
</div>

<br />

<p>
    <a asp-action="Index" asp-controller="Zavod">Nazad na početnu</a>
</p>

<br />

<p>
    <a asp-action="Index" asp-controller="Home">Odjava</a>
</p>