@model BloodDonationApplication.Models.Korisnik

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Korisnik</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KorisnickoIme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KorisnickoIme)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sifra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sifra)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.KorisnikId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<div>
    <a asp-action="Index" asp-controller="Home">Odjava</a>
</div>